---
article: 1
section: 1
---

<section class="const-article">
    <p class="const-article__subheader">
        <span class="const-article__article">
            <%= current_page.data.article %>
        </span> / <span class="const-article__section"><%= current_page.data.section %></span>
    </p>

    <p class="const-article__title">Legislative Branch</p>

    <div class="const-article__text">
        <p class="const-article__original-text">All legislative Powers herein granted shall be vested in a Congress of the United States, which shall consist of a Senate and House of Representatives.</p>

        <div class="const-article__simple-text">
            <p>This establishes the first branch of the government, the legislative branch, commonly referred to as Congress. Only Congress, made up of a Senate and House of Representatives, may create and amend the National laws of the United States of America.</p>
        </div>
    </div>

</section>


<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
        <tbody>
            <tr>
            <td></td>
            </tr>