backend:
  name: github
  repo: Anthonytr/simple-constitution
  branch: master
media_folder: "images"
collections:
- name: "articles" # Used in routes, e.g. /admin/collections/blog
  label: "Articles" # Used in the UI
  folder: "data/articles" # The path to the folder where the documents are stored
  create: true # Allow users to create new documents in this collection
  extension: "yml"
  slug: "article{{article}}-section{{section}}" # Filename template i.e. YYYY-MM-DD-title.md
  fields: # The fields for each document, usually in front matter
    - {label: "Simple Title", name: "title", widget: "string"}
    - {label: "Article Number", name: "article", widget: "number"}
    - {label: "Section Number", name: "section", widget: "number"}
    - {label: "Original Text", name: "original", widget: "text"}
    - {label: "Simple Text", name: "simple", widget: "markdown"}