html {
  background-color: var(--color-cream);
}

body {
  padding: 50px;
  font-family: var(--font-open-sans);
}


/* Global Typography */

p {
  font-size: 16px;

  @media (--tablet) { font-size: 26px; }
}

a {

}

